body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-name{
  color: #ccc;
}
.form-time{
  margin-left: 10px;
  color:#ccc
}
.board-main-item{
  background: #f5f5f5;
  border: 1px solid #ccc;
}
.m-textArea{
  width:300px !important;
}